RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

#################################### ALL FOR DEVELOPER #################################

RewriteRule ^upload-photo$ core/upload-photo.php [L]

### Movies ###
RewriteRule ^movies$ controllers/developer/movies/movies.php [L]
RewriteRule ^movies/([0-9]+)$ controllers/developer/movies/movies.php?moviesid=$1 [L]
RewriteRule ^movies/active/([0-9]+)$ controllers/developer/movies/active.php?moviesid=$1 [L]

### TopMovies ###
RewriteRule ^top-movies$ controllers/developer/top-movies/top-movies.php [L]
RewriteRule ^top-movies/([0-9]+)$ controllers/developer/top-movies/top-movies.php?topmoviesid=$1 [L]
RewriteRule ^top-movies/active/([0-9]+)$ controllers/developer/top-movies/active.php?topmoviesid=$1 [L]

### TopSeries ###
RewriteRule ^top-series$ controllers/developer/top-series/top-series.php [L]
RewriteRule ^top-series/([0-9]+)$ controllers/developer/top-series/top-series.php?topseriesid=$1 [L]
RewriteRule ^top-series/active/([0-9]+)$ controllers/developer/top-series/active.php?topseriesid=$1 [L]

### Genre ###
RewriteRule ^genre$ controllers/developer/settings/genre/genre.php [L]
RewriteRule ^genre/([0-9]+)$ controllers/developer/settings/genre/genre.php?genreid=$1 [L]
RewriteRule ^genre/active/([0-9]+)$ controllers/developer/settings/genre/active.php?genreid=$1 [L]

### Category ###
RewriteRule ^category$ controllers/developer/settings/category/category.php [L]
RewriteRule ^category/([0-9]+)$ controllers/developer/settings/category/category.php?categoryid=$1 [L]
RewriteRule ^category/active/([0-9]+)$ controllers/developer/settings/category/active.php?categoryid=$1 [L]

### Ratings ###
RewriteRule ^ratings$ controllers/developer/settings/ratings/ratings.php [L]
RewriteRule ^ratings/([0-9]+)$ controllers/developer/settings/ratings/ratings.php?ratingsid=$1 [L]
RewriteRule ^ratings/active/([0-9]+)$ controllers/developer/settings/ratings/active.php?ratingsid=$1 [L]